.table-container {
  max-width: 100%;
  padding: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-cell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.arrow-icon,
.delete-icon {
  cursor: pointer;
  border: none;
}
